</section>

<!--Page Footer-->
<section class="pre-footer-corporate" style="background-color: rgb(3, 3, 26);color: white;">
    <div class="container" >
        <div class="row justify-content-sm-center justify-content-lg-start row-30 row-md-60">
            <div class="col-sm-10 col-md-6 col-lg-10 col-xl-3">
                <h6 style="text-align: center; color:white">معلومات عنا</h6>
                <p style="text-align: center;">نحن متخصصون في تركيب ستائر وتصميم تفصيل ستائر مخصصة لتناسب جميع أنواع الديكورات المنزلية والمكتبية. نقدم أيضًا خدمة تفصيل كنبات فاخرة بمقاسات دقيقة وجودة عالية تضمن الراحة والجمال. بالإضافة إلى ذلك، نوفر خدمات تركيب رول ستائر وتفصيل رول مخصص، مما يتيح لك الحصول على حجب مثالي للضوء مع تصميم أنيق يضفي لمسة عصرية على المكان. مع فريق من المحترفين ذوي الخبرة، نضمن لك أعلى معايير الجودة في جميع الخدمات المقدمة، مما يعزز جمال وأناقة منزلك أو مكتبك.
                </p>
            </div>

            <div class="col-sm-10 col-md-6 col-lg-3 col-xl-2 offset-2">
                <h6 style="color:white">روابط مهمة</h6>
                <ul class="list-xxs">
                    <li><a href="/">الصفحة الرئيسية</a></li>
                    <li><a href="/services">الخدمات</a></li>
                    <li><a href="/contact">عن الشركة</a></li>
                    <li><a href="/about">اتصل بنا</a></li>
                </ul>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-5 col-xl-5" dir="rtl" style="text-align: right;color:white">
                <h6 style="text-align: center;color:white">التواصل</h6>
                <ul class="list-xs">
                    <li>
                        <dl class="list-terms-minimal">
                            <dt>العنوان</dt>
                            <dd>السلطانية، العقيق، الرياض 12211، المملكة العربية السعودية</dd>
                        </dl>
                    </li>
                    <li>
                        <dl class="list-terms-minimal">
                            <dt>أرقام الهاتف</dt>
                            <dd>
                                <ul class="list-semicolon">
                                    <li  dir="ltr"><a href="tel:+9660552275480" style="color: white;text-align: right;">+966 0552275480</a></li>
                                </ul>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl class="list-terms-minimal">
                            <dt>البريد الإلكتروني</dt>
                            <dd><a href="mailto:info@demolink.org">noorcurtainstore@gmail.com</a></dd>
                        </dl>
                    </li>
                    <li>
                        <dl class="list-terms-minimal">
                            <dt>ساعات العمل</dt>
                            <dd>السبت - الخميس: 08:00 صباحًا - 08:00 مساءً</dd>
                        </dl>
                    </li>
                </ul>
            </div>
            
            
        </div>
    </div>
</section>
<footer class="footer-corporate" style="background-color: rgb(0, 0, 20);color: white;">
    <div class="container">
        <div class="footer-corporate__inner">
            <p class="rights">نور تفصیل ستائر و مجالس&nbsp;&copy; <span class="copyright-year"></span>. Design&nbsp;by&nbsp;
                <a href="mailto:noorcurtainstore@gmail.com">Kashmir Co.</a>
            </p>
            <ul class="list-inline-xxs">
                <li>
                    <a style="color:white;" class="icon icon-xxs icon-primary fa fa-phone"  href="tel:+9660552275480"
                    onclick="makePhoneCall()"></a>
                </li>

                <li>
                    <a style="color:white;" class="icon icon-xxs icon-primary fa fa-whatsapp" href="https://wa.me/966552275480" 
                    onclick="makePhoneCall()"></a>
                </li>


                <li>
                    <a style="color:white;" class="icon icon-xxs icon-primary fa fa-facebook" href="#"></a>
                </li>

                <li>
                    <a style="color:white;" class="icon icon-xxs icon-primary fa fa-instagram" href="#"></a>
                </li>


            </ul>
        </div>
    </div>
</footer>