<!-- Include the header -->
<%- include('layouts/header') %>
      <section class="breadcrumbs-custom">
        <div class="container">
          <div class="breadcrumbs-custom__inner">
            <p class="breadcrumbs-custom__title">About</p>
            <ul class="breadcrumbs-custom__path">
              <li><a href="index.html">Home</a></li>
              <li class="active">About</li>
            </ul>
          </div>
        </div>
      </section>
      
      <section class="section-lg bg-default">
        <div class="container">
          <div class="row row-50" style="background-color: rgb(255, 255, 255);">
            <div class="col-md-6" style="text-align: center;">
              <h3>مهمتنا</h3>
              <p style="color: black;text-align: center;">في موقع تفصيل الستائر، نهدف إلى تقديم أفضل حلول الستائر المخصصة التي تلبي احتياجات جميع عملائنا في المملكة العربية السعودية. نعمل على توفير خدمات تفصيل وتركيب الستائر بجودة عالية تناسب مختلف التصاميم والأذواق. نحن ملتزمون بتقديم منتجات متينة وعصرية مع الاهتمام بالتفاصيل والابتكار. هدفنا هو تحسين راحة وأناقة كل منزل أو مكتب من خلال ستائر مخصصة تلائم كل بيئة.</p>
            
            </div>
            <div class="col-md-6" style="text-align: center;">
              <h3>رؤيتنا</h3>
              <p style="color: black;text-align: center;">رؤيتنا في موقع تفصيل الستائر هي أن نكون الرواد في تقديم حلول الستائر المخصصة في المملكة العربية السعودية، مع الالتزام بأعلى معايير الجودة والابتكار. نسعى لتلبية توقعات عملائنا من خلال تقديم تصاميم مبتكرة تجمع بين الفخامة والعملية، مع التركيز على التميز في كل مشروع نقوم به. نطمح إلى أن نكون الخيار الأول للأفراد والمصممين والمطورين العقاريين الذين يبحثون عن خدمات تفصيل الستائر المتقنة.</p>
              
            </div>
          </div>
        </div>
      </section>
      <section class="bg-accent">
        <div class="container">
          <div class="row justify-content-md-center align-items-lg-end">
            <div class="col-md-8 col-lg-6 section-xl">
              <h3 style="text-align: center;">ستائر مصممة خصيصًا لذوقك - تفصيل ستائر</h3>
              <p style="text-align: center;">
                نحن في تفصيل ستائر نفخر بتقديم مجموعة من الستائر والإكسسوارات الفريدة المصنوعة يدويًا، المصممة خصيصًا لتلبية احتياجات مصممي الديكور الداخلي والعملاء الخاصين ومطوري العقارات. يعمل فريقنا بإخلاص في الرياض، المملكة العربية السعودية، لكننا نقدم خدماتنا على مستوى عالمي، ملبية احتياجات عملائنا في مشاريع داخلية وخارجية.
                
                تتميز جميع ستائرنا ومفروشاتنا الناعمة بأنها مصنوعة في غرف العمل الخاصة بنا، حيث يتم تنفيذ كل التفاصيل تحت إشراف فريقنا المتفاني من الخياطات المحترفات ومديري المشاريع. نضمن لك أن كل قطعة ستتناسب تمامًا مع مساحتك وتعكس ذوقك الفريد.
                
               
                </p>
                <div class="group-lg group-middle">
                  <a  class="button button-black fa fa-phone" 
                  data-caption-animate="fadeInUpSmall" 
                  data-caption-delay="350" 
                  href="tel:+0552275480" 
                  onclick="makePhoneCall()">
                  &nbsp;اتصل بنا
               </a>
               <a  class="button button-black fa fa-whatsapp" 
               data-caption-animate="fadeInUpSmall" 
               data-caption-delay="350" 
               href="https://wa.me/966552275480" 
               onclick="makePhoneCall()">
               &nbsp;واتساب
            </a>
      </div>
            </div>
            <div class="col-md-8 col-lg-6">
              <div class="cat-img-group">
                <div><img src="./images/sofa1.jpeg" alt="" width="700px" height="600px"/>
                </div>
                <div><img src="./images/j.jpeg" alt="" width="326" height="427"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  
    
       <!--Page Footer-->
      <%- include('layouts/footer') %>