<!-- Include the header -->
<%- include('layouts/header') %>

    <!--Page-->
    <div class="page">
        <!--Swiper-->
        <section>
            <div class="swiper-container swiper-slider swiper-slider_fullheight" data-simulate-touch="false" data-loop="false" data-autoplay="false">
                <div class="swiper-wrapper">
                    <div class="swiper-slide swiper-slide_video context-dark video-bg-overlay">
                        <!-- RD Video Section -->
                        <div class="vide_bg" data-vide-bg="video/hafizVideo2" data-vide-options="posterType: jpg">
                            <div class="swiper-slide-caption text-center">
                                <div class="container">
                                    <h2 data-caption-animate="fadeInUpSmall">نور تفصیل ستائر و مجالس</h2>
                                    <h4 data-caption-animate="fadeInUpSmall">تنجيد وتجديد الكنب والمجالس

                                    </h4>
                                    <h6 class="text-width-2 block-centered" data-caption-animate="fadeInUpSmall" data-caption-delay="200">
                                        نعيد لك أثاثك القديم إلى حالته الجديدة بتنجيد الكنب والمجالس المستعملة، مع تغيير الأقمشة القديمة وتجديد الأخشاب. نوفر لك تصاميم عصرية وضمان كامل على جميع الأعمال لضمان الجودة والتميز.
                                    </h6>
                                    <div class="group-lg group-middle">
                                        <!-- Phone Call Button -->
                                        <a class="button button-black fa fa-phone" data-caption-animate="fadeInUpSmall" data-caption-delay="350" href="tel:+9660552275480" onclick="makePhoneCall()">
                                            &nbsp;0552275480
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide bg-gray-lighter" data-slide-bg="./images/c.jpeg">
                        <div class="swiper-slide-caption text-center">
                            <div class="container">
                                <h2 data-caption-animate="fadeInUpSmall"><span>خدماتنا في نور تفصیل ستائر و مجالس</span>
                                </h2>
                                <h4 data-caption-animate="fadeInUpSmall" data-caption-delay="200">تصميم وتركيب الستائر بمختلف الأنواع
                                </h4>
                                <h6 data-caption-animate="fadeInUpSmall" data-caption-delay="200">نقدم خدمات تفصيل وتركيب الستائر الويفي، الرول، والشيفون بأحدث التصاميم العصرية التي تضيف لمسة فاخرة لمنزلك. تشمل الخدمة التركيب المحترف لضمان المظهر المثالي
                                </h6>
                                <div class="group-lg group-middle"><a class="button button-black fa fa-phone" data-caption-animate="fadeInUpSmall" data-caption-delay="350" href="tel:+9660552275480" onclick="makePhoneCall()">
                                        &nbsp;0552275480
                                    </a></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide_top bg-accent" data-slide-bg="./images/f.jpeg">
                        <div class="swiper-slide-caption">
                            <div class="container">
                                <h3 data-caption-animate="fadeInLeftSmall" style="text-align:right">تصميم الكنب والمجالس بجميع الأشكال</h3>
                                <h6 class="d-none d-lg-block" style="text-align:right">نصمم كافة أنواع الكنب والمجالس المودرن والعصرية، بالإضافة إلى الكنب الأمريكي والمجالس العربية المتميزة. نقدم تصاميم حصرية تناسب ذوقك الشخصي وتضيف أناقة لمنزلك</h6>
                                <a class="button button-black fa fa-phone" data-caption-animate="fadeInUpSmall" data-caption-delay="350" href="tel:+9660552275480" onclick="makePhoneCall()">
                                    &nbsp;0552275480
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Swiper Pagination-->
                <div class="swiper-pagination"></div>
                <!--Swiper Navigation-->
                <div class="swiper-button-prev linear-icon-chevron-left"></div>
                <div class="swiper-button-next linear-icon-chevron-right"></div>
            </div>
        </section>
        <!--Presentation-->
        <section class="section-xl bg-default text-center" id="section-see-features">
            <div class="container">
                <div class="row justify-content-lg-center">
                    <div class="col-lg-10 col-xl-8">
                        <h4>تفصيل ستائر ومجالس فاخرة بتصاميم يدوية لإضفاء لمسة من الأناقة على مساحتك</h4>
                        <p>في نور تفصيل ستائر و مجالس، نتميز بتصميم وتفصيل الستائر، الستائر الرول، والإكسسوارات الفاخرة المصنوعة يدويًا بدقة عالية لمصممي الديكور الداخلي، العملاء الخاصين، ومطوري العقارات. بينما تتركز عملياتنا في الرياض، المملكة العربية السعودية،
                            فإننا نقدم خدماتنا على مستوى المملكة لتلبية جميع احتياجات التصميم المنزلية والتجارية.<br> نحن متخصصون في تفصيل الستائر المخيطة يدويًا والمبطنة بالكامل، بالإضافة إلى تصميم الستائر الشفافة (التول) والستائر الرول، فضلاً عن تصنيع
                            رؤوس الأسرة المخصصة، الوسائد، ومجموعة واسعة من الإكسسوارات الفاخرة. نقدم لك تجربة متكاملة وشاملة من خلال خدماتنا المتخصصة في القياس والتركيب، مع توفير حلول مخصصة لتصميم الجدران القماشية و أسقف الخيام حسب متطلبات المشروع.<br>                            نضمن الإشراف الدقيق على كل مشروع، مع زيارات شخصية لموقع العمل لمناقشة التصاميم والاحتياجات الخاصة، مما يضمن تحقيق رؤيتك بدقة. من الاستشارة إلى التركيب، نعدك بنتيجة مثالية تضفي الأناقة والرقي على أي مساحة.</p>
                        <div class="group-lg group-middle">
                            <a class="button button-black fa fa-phone" data-caption-animate="fadeInUpSmall" data-caption-delay="350" href="tel:+9660552275480" onclick="makePhoneCall()">
                                &nbsp;اتصل بنا
                            </a>
                            <a class="button button-black fa fa-whatsapp" data-caption-animate="fadeInUpSmall" data-caption-delay="350" href="https://wa.me/966552275480" onclick="makePhoneCall()">
                                &nbsp;واتساب
                            </a>
                        </div>
                    </div>
                </div>
        </section>
        <!--The Power of Bootstrap Toolkit-->
        <section class="bg-gray-lighter object-wrap">
            <div class="section-xxl section-xxl_bigger">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <h3>الستائر في الرياض</h3>
                            <p>نوفر لك ستائر مصنوعة حسب الطلب بأعلى المعايير لتناسب ذوقك وأسلوبك. يتم تصنيع جميع الستائر لدينا يدويًا داخل ورش تفصيل الستائر المتخصصة. يمكن لفريقنا ذو الخبرة، بقيادة سو، مساعدتك في اختيار النوع المثالي من الستائر المعتمة لتناسب
                                غرفتك. إذا كنت تملك فكرة أو تصميم معين في ذهنك، فلا تتردد في التواصل معنا لتحقيق ذلك. انقر هنا للاطلاع على مجموعة الموردين لدينا.
                            </p>

                            <div class="group-lg group-middle">
                                <a class="button button-black fa fa-phone" data-caption-animate="fadeInUpSmall" data-caption-delay="350" href="tel:+9660552275480" onclick="makePhoneCall()">
                                    &nbsp;اتصل بنا
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="object-wrap__body object-wrap__body-sizing-1 object-wrap__body-md-right bg-image" style="background-image: url(./images/sofa1.jpeg)"></div>
        </section>
        <!--Content Driven Design-->
        <section class="section-xl bg-default">
            <div class="container">
                <div class="row justify-content-md-center flex-lg-row-reverse align-items-lg-center justify-content-lg-between row-50">
                    <div class="col-md-9 col-lg-5">
                        <h3>خدمة القياس والتركيب</h3>
                        <p>

                            تقدم تفصيل ستائرخدمة القياس والتركيب الكاملة. بمجرد اتصالك بشركتنا، يمكننا إرسال أحد عمال التركيب لدينا لقياس النوافذ الخاصة بك. وبدلاً من ذلك، قد ترغب في تحديد موعد مع أحد مستشاري الستائر أو المكفوفين لدينا الذين يمكنهم مساعدتك في تصميم ستائرك واختيار
                            القماش.


                        </p>
                        <div class="group-lg group-middle">
                            <a class="button button-black fa fa-phone" data-caption-animate="fadeInUpSmall" data-caption-delay="350" href="tel:+9660552275480" onclick="makePhoneCall()">
                                &nbsp;اتصل بنا
                            </a>
                        </div>
                    </div>
                    <div class="col-md-9 col-lg-6"><img src="./images/sofa2.jpeg" alt="" width="652" height="491" />
                    </div>
                </div>
            </div>
        </section>
        <!--Blurbs-->


        <!--GPL3 License advantages-->
        <section class="section-xl bg-default">
            <div class="container">
                <div class="row row-50 align-items-lg-center justify-content-lg-between">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h3>خدمات موقع تفصيل ستائر</h3><br>

                        <!-- Accordion starts here -->
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <b> تصميم ستائر مخصصة</b>
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>تقديم ستائر مصنوعة يدويًا ومصممة حسب الطلب لتناسب الديكور الداخلي</p>

                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <b>
                                            الستائر والإكسسوارات
                                        </b>
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>متخصصون في تفصيل الستائر، رؤوس الأسرّة، والإكسسوارات المتناسقة</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <b>
                                            حلول الأقمشة المخصصة
                                        </b>
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p> توفير ستائر مبطنة، تول، أو معتمة حسب رغبة العميل</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                        <b> حلول الأقمشة المخصصة
                                        </b></button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p> توفير ستائر مبطنة، تول، أو معتمة حسب رغبة العميل</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                                        <b> خدمة القياس الكاملة</b>
                                    </button>
                                </h2>
                                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p> تقديم زيارات ميدانية لأخذ قياسات دقيقة</p>
                                    </div>
                                </div>
                            </div>
                            <div class="group-lg group-middle">
                                <a class="button button-black fa fa-phone" data-caption-animate="fadeInUpSmall" data-caption-delay="350" href="tel:+9660552275480" onclick="makePhoneCall()">
                                    &nbsp;اتصل بنا
                                </a>
                                <a class="button button-black fa fa-whatsapp" data-caption-animate="fadeInUpSmall" data-caption-delay="350" href="https://wa.me/966552275480" onclick="makePhoneCall()">
                                    &nbsp;واتساب
                                </a>
                            </div>
                        </div>
                        <!-- Accordion ends here -->

                    </div>

                    <!-- Image gallery on the right side remains the same -->

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="row gallery-wrap">
                            <div class="col-6">
                                <img src="./images/sofa1.jpeg" alt="" width="301" height="227" />
                            </div>
                            <div class="col-6">
                                <img src="./images/sofa2.jpeg" alt="" width="301" height="227" />
                            </div>
                            <div class="col-6">
                                <img src="./images/sofa3.jpeg" alt="" width="301" height="227" />
                            </div>
                            <div class="col-6">
                                <img src="./images/f.jpeg" alt="" width="301" height="227" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-gray-dark text-center">
            <!--RD Parallax-->
            <div class="parallax-container bg-image rd-parallax-light" data-parallax-img="images/parallax-01.jpg">
                <div class="parallax-content">
                    <div class="container section-xxl">
                        <h2>هل أعجبك ما نقدمه؟</h2>
                        <p>نحن في موقع "تفصيل ستائر" نقدم خدمات تفصيل وتصميم الستائر والمجالس والمفروشات حسب الطلب بأعلى المعايير. سواء كنت تبحث عن ستائر معتمة، أو ستائر شفافة، أو مجالس تقليدية أو عصرية، نقدم لك تصاميم فريدة تتناسب مع ذوقك واحتياجاتك. فريقنا
                            المتخصص يتولى جميع مراحل العمل بدءًا من الاستشارة والقياسات وصولاً إلى التصنيع اليدوي والتركيب الدقيق، مع ضمان جودة ممتازة في كل تفصيلة.
                        </p>
                        <a class="button button-black fa fa-phone" data-caption-animate="fadeInUpSmall" data-caption-delay="350" href="tel:+9660552275480" onclick="makePhoneCall()">
                            &nbsp;اتصل بنا
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-xl bg-default text-center">
            <div class="container">
                <div class="row row-30 justify-content-lg-center">
                    <div class="col-lg-11 col-xl-9">
                        <h3>الأعمال الأخيرة</h3>

                    </div>
                </div>
            </div>
        </section>
        <!--Gallery-->
        <section class="section-xl bg-default" data-lightgallery="group">
            <div class="container-fluid">
                <div class="row row-10 row-horizontal-10">
                    <div class="col-md-4 col-xl-3">
                        <a class="thumb-modern" data-lightgallery="item" href="./images/images/sofa1.jpeg">
                            <figure><img src="./images/sofa1.jpeg" alt="" width="472" height="355" />
                            </figure>
                            <div class="thumb-modern__overlay"></div>
                        </a>
                    </div>
                    <div class="col-md-4 col-xl-3">
                        <a class="thumb-modern" data-lightgallery="item" href="./images/sofa2.jpeg">
                            <figure><img src="./images/sofa2.jpeg" alt="" width="472" height="355" />
                            </figure>
                            <div class="thumb-modern__overlay"></div>
                        </a>
                    </div>
                    <div class="col-md-4 col-xl-3">
                        <a class="thumb-modern" data-lightgallery="item" href="./images/sofa3.jpeg">
                            <figure><img src="./images/sofa3.jpeg" alt="" width="472" height="355" />
                            </figure>
                            <div class="thumb-modern__overlay"></div>
                        </a>
                    </div>
                    <div class="col-md-4 col-xl-3">
                        <a class="thumb-modern" data-lightgallery="item" href="./images/j.jpeg">
                            <figure><img src="./images/j.jpeg" alt="" width="472" height="355" />
                            </figure>
                            <div class="thumb-modern__overlay"></div>
                        </a>
                    </div>

                    <div class="col-md-4 col-xl-3">
                        <a class="thumb-modern" data-lightgallery="item" href="./images/g.jpeg">
                            <figure><img src="./images/g.jpeg" alt="" width="472" height="355" />
                            </figure>
                            <div class="thumb-modern__overlay"></div>
                        </a>
                    </div>

                    <div class="col-md-4 col-xl-3">
                        <a class="thumb-modern" data-lightgallery="item" href="./images/d.jpeg">
                            <figure><img src="./images/d.jpeg" alt="" width="472" height="355" />
                            </figure>
                            <div class="thumb-modern__overlay"></div>
                        </a>
                    </div>

                    <div class="col-md-4 col-xl-3">
                        <a class="thumb-modern" data-lightgallery="item" href="./images/a.jpeg">
                            <figure><img src="./images/a.jpeg" alt="" width="472" height="355" />
                            </figure>
                            <div class="thumb-modern__overlay"></div>
                        </a>
                    </div>

                    <div class="col-md-4 col-xl-3">
                        <a class="thumb-modern" data-lightgallery="item" href="./images/b.jpeg">
                            <figure><img src="./images/b.jpeg" alt="" width="472" height="355" />
                            </figure>
                            <div class="thumb-modern__overlay"></div>
                        </a>
                    </div>

                </div>
            </div>
        </section>



        </div>

        <%- include('layouts/footer') %>