<!-- Include the header -->
<%- include('layouts/header') %>

    <!--Page-->
        <div class="page">
                      <!--Swiper-->
          
                        
           <!--Content Driven Design-->
            <section class="section-xl bg-default">
                <div class="container">
                    <div
                        class="row justify-content-md-center flex-lg-row-reverse align-items-lg-center justify-content-lg-between row-50">
                        <div class="col-md-9 col-lg-5">
                            <h3>صناع الستائر الرياض</h3>
                            <p>
                                تقوم تفصيل ستائر بإنشاء ستائر وستائر وإكسسوارات مصنوعة يدويًا مصممة بشكل جميل نيابة عن مصممي الديكور الداخلي والعملاء الخاصين ومطوري العقارات. نحن قادرون على التوريد على المستوى الوطني ولكن عملنا يتم بشكل أساسي في الرياض نحن متخصصون في الستائر المبطنة والمبطنة والمخيطة يدويًا بشكل جميل، والستائر، والألواح الأمامية، والوسائد ومجموعة كاملة من الملحقات. سنقدم في كل مشروع خدمة قياس وتركيب كاملة. يمكن أيضًا تركيب جدران من القماش وأسقف خيام. يتم الإشراف على الوظيفة في كل مرحلة من خلال القيام بزيارات شخصية للموقع لمناقشة الأنماط وأي متطلبات ومرة ​​أخرى عند الملاءمة.
                            </p>
                            <div class="group-lg group-middle">
                                <a  class="button button-black fa fa-phone" 
                                data-caption-animate="fadeInUpSmall" 
                                data-caption-delay="350" 
                                href="tel:+9660552275480"
                                onclick="makePhoneCall()">
                                &nbsp;اتصل بنا
                             </a>
                            </div>
                        </div>
                        <div class="col-md-9 col-lg-6"><img src="./images/sofa3.jpeg" alt="" width="652"
                                height="491" />
                        </div>
                    </div>
                </div>
            </section>
            <!--Blurbs-->
           
             <!--Content Driven Design-->
             <section class="section-xl bg-default">
              <div class="container">
                  <div
                      class="row justify-content-md-center flex-lg-row-reverse align-items-lg-center justify-content-lg-between row-50">
                      <div class="col-md-9 col-lg-6"><img src="./images/f.jpeg" alt="" width="652"
                        height="491" />
                </div>
                      <div class="col-md-9 col-lg-5">
                          <h3>فصيل ستائر</h3>
                          <p>
                            تفصيل ستائر هي شركة راسخة لصناعة الستائر مقرها في الرياض. جميع ستائرنا مصنوعة يدويًا بأعلى المواصفات والمعايير الأكثر صرامة. تعمل سو ويمستر في صناعة الستائر منذ أكثر من 12 عامًا، ولا تزال تتقبل التحدي. تقول سو: “أنا أستمتع بعملي في مجال الستائر وأنا ملتزم تمامًا تجاه عملائي وزبائني. أعمل بشكل عام سبعة أيام في الأسبوع، لذا إذا كنت بحاجة إلى تقدير، أو كنت ترغب في التواصل معنا، 
                          </p>
                          <div class="group-lg group-middle"> <a  class="button button-black fa fa-phone" 
                            data-caption-animate="fadeInUpSmall" 
                            data-caption-delay="350" 
                            href="tel:+0552275480" 
                            onclick="makePhoneCall()">
                            &nbsp;اتصل بي الآن
                         </a></div>
                      </div>

                  </div>
              </div>
          </section>
          <!--Blurbs-->
            
            <!--GPL3 License advantages-->
            

            <section class="section-xl bg-black">
                <div class="container">
                <div class="row row-100 row-lg-90">
                    <div style="margin-top: -50px;">
                        <h2 style="text-align: center;">ما نقدمه في خدماتنا</h2>
                    </div>
                    <hr>
                </div>
                  <div class="row row-50 row-lg-90">
                    <div class="col-md-6 col-lg-4">
                      <!--Blurb minimal-->
                      <article class="blurb blurb-minimal">
                        <div class="blurb-minimal__icon"><span class="icon linear-icon-arrow-down-square"></span></div>
                        <p class="blurb__title">تركيب ستائر</p>
                        <p>تثبيت الستائر في الأماكن المناسبة لتحقيق مظهر جذاب</p>
                      </article>
                    </div>
                    <div class="col-md-6 col-lg-4">
                      <!--Blurb minimal-->
                      <article class="blurb blurb-minimal">
                        <div class="blurb-minimal__icon"><span class="icon linear-icon-arrow-down-square"></span></div>
                        <p class="blurb__title">تفصيل ستائر</p>
                        <p>تصميم وتصنيع ستائر حسب الطلب لتناسب احتياجات العملاء</p>
                      </article>
                    </div>
                    <div class="col-md-6 col-lg-4">
                      <!--Blurb minimal-->
                      <article class="blurb blurb-minimal">
                        <div class="blurb-minimal__icon"><span class="icon linear-icon-arrow-down-square"></span></div>
                        <p class="blurb__title">تفصيل كنب</p>
                        <p>توفير تصميمات مخصصة للكنب لراحة وجمالية أكثر</p>
                      </article>
                    </div>
                    <div class="col-md-6 col-lg-4">
                      <!--Blurb minimal-->
                      <article class="blurb blurb-minimal">
                        <div class="blurb-minimal__icon"><span class="icon linear-icon-arrow-down-square"></span></div>
                        <p class="blurb__title">تركيب رول</p>
                        <p>تثبيت ستائر رول فعالة وعصرية للتحكم في الضوء والخصوصية</p>
                      </article>
                    </div>
                    <div class="col-md-6 col-lg-4">
                      <!--Blurb minimal-->
                      <article class="blurb blurb-minimal">
                        <div class="blurb-minimal__icon"><span class="icon linear-icon-arrow-down-square"></span></div>
                        <p class="blurb__title">تفصيل رول</p>
                        <p>تصميم وتصنيع ستائر رول حسب الطلب لتناسب أي مساحة</p>
                      </article>
                    </div>
                    <div class="col-md-6 col-lg-4">
                      <!--Blurb minimal-->
                      <article class="blurb blurb-minimal">
                        <div class="blurb-minimal__icon"><span class="icon linear-icon-arrow-down-square"></span></div>
                        <p class="blurb__title">تصميم داخلي</p>
                        <p>تقديم استشارات لتنسيق المساحات الداخلية بأسلوب أنيق</p>
                      </article>
                    </div>

                    <div class="col-md-6 col-lg-4">
                        <!--Blurb minimal-->
                        <article class="blurb blurb-minimal">
                          <div class="blurb-minimal__icon"><span class="icon linear-icon-arrow-down-square"></span></div>
                          <p class="blurb__title">خدمات صيانة الستائر</p>
                          <p> إصلاح وصيانة الستائر لضمان دوامها وجمالها</p>
                        </article>
                      </div>

                      <div class="col-md-6 col-lg-4">
                        <!--Blurb minimal-->
                        <article class="blurb blurb-minimal">
                          <div class="blurb-minimal__icon"><span class="icon linear-icon-arrow-down-square"></span></div>
                          <p class="blurb__title">إكسسوارات الستائر</p>
                          <p>توفير مجموعة متنوعة من الإكسسوارات لتعزيز مظهر الستائر</p>
                        </article>
                      </div>

                      <div class="col-md-6 col-lg-4">
                        <!--Blurb minimal-->
                        <article class="blurb blurb-minimal">
                          <div class="blurb-minimal__icon"><span class="icon linear-icon-arrow-down-square"></span></div>
                          <p class="blurb__title">استشارات ديكور</p>
                          <p>تقديم نصائح مخصصة لتحسين تصميم الديكور الداخلي</p>
                        </article>
                      </div>
                  </div>
                </div>
              </section>
              <!-- New Section for Services-->
              <section class="section services-section" id="services">
                <div class="container">
                    <div class="row">
                        <!-- feaure box -->
                        <div class="col-sm-6 col-lg-4">
                            <div class="feature-box-1">
                                <div class="icon">
                                    <i class="fa fa-th"></i>
                                </div>
                                <div class="feature-content">
                                    <h5>تصميم ستائر مخصصة</h5>
                                    <p>تقديم ستائر مصنوعة يدويًا ومصممة حسب الطلب لتناسب الديكور الداخلي.</p>
                                </div>
                            </div>
                        </div>
                        <!-- / -->
                        <!-- feaure box -->
                        <div class="col-sm-6 col-lg-4">
                            <div class="feature-box-1">
                                <div class="icon">
                                    <i class="fa fa-th"></i>
                                </div>
                                <div class="feature-content">
                                    <h5>الستائر والإكسسوارات</h5>
                                    <p>متخصصون في تفصيل الستائر، رؤوس الأسرّة، والإكسسوارات المتناسقة.</p>
                                </div>
                            </div>
                        </div>
                        <!-- / -->
                        <!-- feaure box -->
                        <div class="col-sm-6 col-lg-4">
                            <div class="feature-box-1">
                                <div class="icon">
                                    <i class="fa fa-th"></i>
                                </div>
                                <div class="feature-content">
                                    <h5>حلول الأقمشة المخصصة</h5>
                                    <p>توفير ستائر مبطنة، تول، أو معتمة حسب رغبة العميل.</p>
                                </div>
                            </div>
                        </div>
                        <!-- / -->
                        <!-- feaure box -->
                        <div class="col-sm-6 col-lg-4">
                            <div class="feature-box-1">
                                <div class="icon">
                                    <i class="fa fa-th"></i>
                                </div>
                                <div class="feature-content">
                                    <h5>خدمة القياس الكاملة</h5>
                                    <p>تقديم زيارات ميدانية لأخذ قياسات دقيقة.</p>
                                </div>
                            </div>
                        </div>
                        <!-- / -->
                        <!-- feaure box -->
                        <div class="col-sm-6 col-lg-4">
                            <div class="feature-box-1">
                                <div class="icon">
                                    <i class="fa fa-th"></i>
                                </div>
                                <div class="feature-content">
                                    <h5>خدمات الاستشارة</h5>
                                    <p>مناقشة التصاميم مع العملاء لفهم احتياجاتهم الخاصة.</p>
                                </div>
                            </div>
                        </div>
                        <!-- / -->
                        <!-- feaure box -->
                        <div class="col-sm-6 col-lg-4">
                            <div class="feature-box-1">
                                <div class="icon">
                                    <i class="fa fa-th"></i>
                                </div>
                                <div class="feature-content">
                                    <h5>تركيب احترافي</h5>
                                    <p>توفير خدمة تركيب كاملة للستائر وجميع الإكسسوارات.</p>
                                </div>
                            </div>
                        </div>
                        <!-- / -->
                    </div>
                </div>
            </section>
            
                   
          
          
                     
        </div>
        
    <%- include('layouts/footer') %>